@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mrs+Saint+Delafield&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #fcdfb3;
}

* {
    font-family: "Josefin Sans", arial;
}

body {
    padding: 0;
    margin: 0;
    background-color: #140d40;
    position: relative;
}

.curtain-container {
    display: flex;
    gap: -10px;
}

.curtain {
    height: 100vh;
    width: calc(1vw + 80px);
    background-color: #4c2fc1;
}

.curtain-1 {
    background-color: #41499e;
}
.curtain-2 {
    background-color: #393895;
}
.curtain-3 {
    background-color: #2d2c7c;
}
.curtain-4 {
    background-color: #231e60;
}

/* Square */

.square-1 {
    position: absolute;
    top: -8%;
    left: 40%;
    z-index: -9;
    transform: translate(-50%, -50%);
    transform: rotate(-50deg);

    width: 180px;
    height: 180px;
    background-color: rgba(82, 73, 158, 0.5);
}

.square-2 {
    position: absolute;
    bottom: -12%;
    left: 65%;
    z-index: -9;
    transform: translate(-50%, -50%);
    transform: rotate(-20deg);
    width: 200px;
    height: 200px;
    background-color: rgba(82, 73, 158, 0.5);
}

.input-wrapper {
    width: 400px;
    height: fit-content;
    min-height: 200px;
    align-content: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

textarea,
input[type="email"],
input[type="url"],
input[type="text"],
input[type="number"],
input[type="date"],
input[type="password"] {
    background-color: rgba(252, 223, 179, 0.2);
    color: var(--primary-color);
    padding: 1rem 1rem;
    border: none;
    border-bottom: 3px solid var(--primary-color);
    border-radius: 4px 4px 0 0;
    font-size: 16px;
    width: -webkit-fill-available;
}

input::placeholder, textarea::placeholder {
    color: var(--primary-color);
    font-family: "Josefin Sans", arial;
    opacity: 0.5;
}
