body {
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

/* Form */

.title-form {
    text-transform: uppercase;
    letter-spacing: 7px;
}
a {
    color: var(--primary-color);
    text-decoration: underline;
}
h1 {
    font-size: 3rem;
    font-weight: 400;
}

.form-container {
    width: fit-content;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;

    z-index: 100;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
    padding: 2rem 0;
}
.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form {
    width: 400px;
    height: fit-content;
    min-height: 200px;
    align-content: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    background-color: rgba(252, 223, 179, 0.2);
    color: var(--primary-color);
    padding: 1rem 1rem;
    border: none;
    border-bottom: 3px solid var(--primary-color);
    border-radius: 4px 4px 0 0;
    font-size: 16px;
    width: -webkit-fill-available;
}

input::placeholder {
    color: var(--primary-color);
    font-family: "Josefin Sans", arial;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 10px;
    line-height: 30px;
    /* word-spacing: 1px; */
}

/* Button */

.button-normal {
    display: none;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    font-size: 16px;
    background-color: var(--primary-color);
    border-radius: 500px;
    color: #150e41;
    font-weight: bold;
    text-transform: uppercase;
    line-height: normal;
    cursor: pointer;
}

.button-container {
    cursor: pointer;
    position: absolute;
    right: 0;
    height: 100vh;
    display: block;
    align-content: center;
    padding-right: 2rem;
    transition: 0.1s ease-in-out;
}

.button-container:hover > .button-circle-wrapper {
    left: 280px;
    transition: 0.1s ease-in-out;
}

.button-circle-wrapper {
    transition: 0.1s ease-in-out;
    position: absolute;
    top: 50%;
    left: 250px;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.button-circle {
    width: calc(5vw + 600px);
    height: calc(5vh + 600px);
    background-color: var(--primary-color);
    border-radius: 100%;
}

.button-text {
    text-decoration: none;
    align-items: center;
    gap: 10px;
    display: flex;
    justify-content: row;
    white-space: normal;
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #150e41;
}

.button-text span {
    line-height: normal;
}

.icon-arrow {
    font-weight: bolder;
    /* height: 60px; */
    align-items: center;
    vertical-align: middle;
    /* width: 60px; */
}

@media (max-width: 1160px) {
    .button-container {
        display: none;
    }

    .button-normal {
        display: block;
    }
}

@media (max-width: 540px) {
    .form-wrapper {
        align-items: center;
    }

    .form-wrapper header h1 {
        text-align: center;
        line-height: 3rem;
        font-size: 2rem;
    }
}
